<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form th:action="@{/register}" th:object="${user}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" th:field="*{username}" />
    <br/>
    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" />
    <br/>
    <label for="role">Role:</label>
    <input type="text" id="role" th:field="*{role}" />
    <br/>
    <button type="submit">Register</button>
</form>
<a href="/login">Already have an account? Login here</a>
</body>
</html>
